body{
    margin: 0%;
    border: 1px;
    border-color: black;
}
#test {
    background-image: url(Resources/Pic/Index/index\ wp\ test1.jpg);
    background-size: 100%;
}
.logo{
   margin-left: 40%;
   padding-top: 10%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

    
    display: inline-block;
    
}
#sponsors{

    margin-right: 50%;
    width: 180px;
  
    
    
}
